@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-image: url("images/patternidk.png"), -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1.00) 0%, rgba(191, 170, 255, 1.00) 100%);
  background-image: url("images/patternidk.png"), -moz-linear-gradient(270deg, rgba(255, 255, 255, 1.00) 0%, rgba(191, 170, 255, 1.00) 100%);
  background-image: url("images/patternidk.png"), -o-linear-gradient(270deg, rgba(255, 255, 255, 1.00) 0%, rgba(191, 170, 255, 1.00) 100%);
  background-image: url("images/patternidk.png"), linear-gradient(180deg, rgba(255, 255, 255, 1.00) 0%, rgba(191, 170, 255, 1.00) 100%)
}
div {
  width: 1200px;
  height: 1000px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 150px;
  padding: 10px;
  text-align: center;
  background-color: hsla(255, 100%, 62%, 0.30);
}
header h1 {
  color: #6D3DFF;
}
header h2 {
  color: #FFFFFF;
}
nav {
  width: 100%;
  height: 75px;
  padding: 30px;
  font-size: 17px;
  text-align: center;
  background-color: #CEFF3B;
}
a:link, a:visited {
	text-decoration:none;
	color:#000000;
	margin:0px 5px 0px 5px;
	background-color:white;
	padding:10px 10px;
	text-align:center;
}
a:hover, a:active {
	background-color:#9572FF;
	color:#FFFFFF;
}
footer {
  width: 100%;
  height: 75px;
  padding: 30px;
  text-align: center;
  background-color: #CEFF3B;
}
aside {
  width: 260px;
  height: 620px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 40px;
  background-color: #9572FF;
  border-style: solid;
  border-color: #6C3BFF;
}
#biggest {
  width: 1200px;
  height: 700px;
}
#leftsec {
  width: 900px;
  height: 700px;
  float: left;
}
#rightsec {
  width: 300px;
  height: 700px;
  float: right;
}
.personal {
  width: 860px;
  height: 300px;
  float: left;
  padding: 10px;
  margin: 40px 20px 10px 20px;
  background-color: #6C3BFF;
  border-style: solid;
  border-color: #6C3BFF;
}
.steps {
  width: 300px;
  height: 300px;
  float: left;
  clear: left;
  padding: 10px;
  margin: 10px 10px 40px 20px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #CEFF3B;
}
.work {
  width: 540px;
  height: 300px;
  float: left;
  padding: 10px;
  margin: 10px 20px 40px 10px;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #CEFF3B;
}